<div class="row"
     *ngIf="game && board && bag && userId">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header title-header">
        <h2 class="card-title title">
          {{ 'game' | translate }}: {{ game.name }}
        </h2>
      </div>
      <div class="card-body title-body">
        <div class="row"
             *ngIf="currentStatus && currentStatus === 'WAITING'">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="fas fa-flag"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{ 'game.bag.language' | translate }}</span>
                <span class="info-box-number">{{ 'game.language.' + bag.language | translate }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="fas fa-users"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{ 'game.playerCount' | translate }}</span>
                <span class="info-box-number">{{ game.expectedPlayerCount }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="far fa-hourglass"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{ 'game.duration' | translate }}</span>
                <span class="info-box-number">{{ 'game.duration.minutes' | translate: { '0': game.duration } }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="fas fa-chess-board fa-fw"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">{{ 'game.board.size' | translate }}</span>
                <span class="info-box-number">{{ board.rowSize + 'X' + board.columnSize }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 ml-1"
               *ngFor="let player of players">
            <div class="card card-outline"
                 [ngClass]="player.userId > 0 ? 'card-primary' : 'card-warning'"
                 *ngIf="currentStatus && currentStatus === 'WAITING'">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                    src="{{imageResourceURL}}/{{player.userId}}.png"
                    alt="User profile picture">
                </div>
                <h3 class="profile-username text-center">{{ player.username ? player.username : '?' }}</h3>
                <p class="text-muted text-center" *ngIf="player.userId === game.ownerId">{{ 'game.owner' | translate
                  }}</p>
                <p class="text-muted text-center" *ngIf="player.userId !== game.ownerId">{{ 'game.player' |
                  translate }}</p>
              </div>
            </div>
            <div class="info-box player border"
                 [ngClass]="winnerPlayer && winnerPlayer.playerNumber === player.playerNumber ? 'border-success' : player.playerNumber === currentPlayerNumber ? 'border border-secondary' : 'border-light'"
                 *ngIf="currentStatus && currentStatus !== 'WAITING'">
              <span class="info-box-icon">
                <img class="img-circle"
                     src="{{imageResourceURL}}/{{player.userId}}.png "
                     alt="User profile picture">
              </span>
              <div class="info-box-content">
                <span class="info-box-text">{{ player.username ? player.username : '?' }}</span>
                <span class="info-box-number">{{ player.score }}</span>
              </div>
              <div class="info-box-content"
                   *ngIf="player.playerNumber === currentPlayerNumber && currentStatus !== 'ENDED'">
                <span class="btn btn-app bg-danger">
                  <i class="far fa-hourglass"></i>{{ remainingDuration }}
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-1 ml-4"
               *ngIf="currentStatus === 'WAITING'">
            <a class="btn btn-app bg-danger"
               *ngIf="userId && userId !== game.ownerId && currentStatus === 'WAITING'"
               (click)="leaveGame(game.id)">
              <i class="fas fa-thumbs-down"></i> {{ 'game.leave' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="row"
         *ngIf="virtualBoard">
      <div class="col-md-12">
        <table class="game-table table table-responsive"
               *ngIf="virtualBoard.cells && virtualBoard.cells.length > 0">
          <tbody>
            <tr class="d-flex"
                *ngFor="let r of [].constructor(board.rowSize); index as rowIndex">
              <td class="border p-0"
                  *ngFor="let c of [].constructor(board.columnSize); index as columnIndex"
                  (click)="putTile(getCell(rowIndex, columnIndex))"
                  [style.background-color]="getCell(rowIndex, columnIndex).letter ? '' : getCell(rowIndex, columnIndex).color">
                <div class="cell-div text-center"
                     *ngIf="getCell(rowIndex, columnIndex).letter"
                     [ngClass]="getCell(rowIndex, columnIndex).lastPlayed ? 'sealed-cell' : 'cell'">
                  <span class="cell-letter">{{ getCell(rowIndex, columnIndex).letter }}</span>
                  <span class="cell-score">{{ getCell(rowIndex, columnIndex).value }}</span>
                </div>
                <div class="cell-div d-flex align-items-center"
                     *ngIf="!getCell(rowIndex, columnIndex).letter">
                  <span class="container-fluid font-weight-bold"
                        *ngIf="!getCell(rowIndex, columnIndex).letter">
                    {{ getCell(rowIndex, columnIndex).wordScoreMultiplier > 1 ? getCell(rowIndex, columnIndex).wordScoreMultiplier + 'xW' : '' }}
                    {{ getCell(rowIndex, columnIndex).letterValueMultiplier > 1 ? getCell(rowIndex, columnIndex).letterValueMultiplier + 'xL' : '' }}
                  </span> 
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-2 bg-light border rack"
         *ngIf="virtualRack">
      <div class="col-md-2 mt-2">
        <a class="btn btn-app bg-secondary"
           (click)="exchange()">
          <i class="fas fa-exchange-alt"></i>{{ 'game.exchange' | translate }}
        </a>
      </div>
      <div class="col-md-8 mt-2 pl-0">
        <table class="table table-responsive mb-0">
          <tbody class="d-flex justify-content-center">
            <tr class="d-flex">
              <td class="tile-td"
                  *ngFor="let tile of virtualRack.tiles"
                  (click)="selectTile(tile)">
                <div class="tile-div text-center"
                     *ngIf="tile"
                     [ngClass]="tile.sealed ? 'sealed-tile' : tile.roundNumber === currentRoundNumber && tile.roundNumber > 1 ? 'new-tile' : 'tile'">
                  <span class="tile-letter"
                        *ngIf="!tile.selected">{{ tile.letter }}</span>
                  <span class="tile-score"
                        *ngIf="!tile.selected">{{ tile.value }}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-2 mt-2">
        <a class="btn btn-app bg-secondary"
           (click)="play()">
          <i class="fas fa-play"></i>{{ 'game.play' | translate }}
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-5"
       *ngIf="currentStatus && currentStatus !== 'WAITING' && players">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">{{ 'game.words' | translate: { '0': 'game.language.' + bag.language | translate } }}</h3>
            <div class="card-tools">
              <button type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body words overflow-auto">
            <ol *ngIf="words">
              <li *ngFor="let word of words">{{ 'game.words.word' | translate: { '0': word.word, '1': word.score, '2': getUsername(word.playerNumber) } }}</li>
            </ol>
            <div class="callout callout-info"
                 *ngIf="!words">
              <h5><i class="fas fa-info"></i> {{'game.words.no.word' | translate}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row"
         *ngIf="currentStatus && currentStatus === 'IN_PROGRESS' || currentStatus === 'LAST_ROUND'">
      <div class="col-md-12">
        <div class="card card-secondary"
             [ngClass]="chats ? 'direct-chat' : ''">
          <div class="card-header">
            <h3 class="card-title">{{ 'game.chat' | translate }}</h3>
            <div class="card-tools">
              <button type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="direct-chat-messages"
                 *ngIf="chats"
                 #scrollToBottom>
              <div class="direct-chat-msg"
                   [ngClass]="userId === chat.userId ? 'left' : 'right'"
                   *ngFor="let chat of chats">
                <div class="direct-chat-infos clearfix">
                  <span class="direct-chat-name float-left">{{ chat.username }}</span>
                  <span class="direct-chat-timestamp float-right">{{ chat.createdDate | date:'dd/MM/yyyy HH:mm:ss' }}</span>
                </div>
                <img class="direct-chat-img"
                     src="{{imageResourceURL}}/{{chat.userId}}.png"
                     alt="Message User Image">
                <div class="direct-chat-text">{{ chat.message }}</div>
              </div>
            </div>
            <div class="callout callout-info"
                 *ngIf="!chats">
              <h5><i class="fas fa-info"></i> {{ 'game.chat.no.message' | translate }}</h5>
            </div>
          </div>
          <div class="card-footer">
            <form action="#" method="post">
              <div class="input-group">
                <input class="form-control"
                       type="text"
                       name="message"
                       placeholder="{{'game.chat.placeholder' | translate}}"
                       [(ngModel)]="message">
                <span class="input-group-append">
                  <button type="submit"
                          class="btn btn-secondary"
                          (click)="sendMessage()">{{ 'game.send' | translate }}
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>