version: '3'
services:
  scrabble-api:
    image: tomcat:10.1.18-jdk17
    hostname: scrabble-api
    container_name: scrabble-api
    environment:
      - JAVA_OPTS=-Ddictionary.path=/tmp/scrabble/dictionary/%s_dictionary.txt
                  -Dlog.path=/tmp/scrabble/logs
                  -Dpostgres.url=jdbc:postgresql://scrabble-postgres:11223/scrabble
                  -Dpostgres.username=scrabble_api
                  -Dpostgres.password=scrabble_api
                  -Dredis.host=scrabble-redis
                  -Dredis.port=6380
                  -Dredis.username=
                  -Dredis.password=
                  -Dredis.use.ssl=false
    depends_on:
      scrabble-postgres:
        condition: service_healthy
      scrabble-redis:
        condition: service_started
    volumes:
      - $PWD/logs:/tmp/scrabble/logs
      - ./target/scrabble-api.war:/usr/local/tomcat/webapps/scrabble-api.war
      - ./src/main/resources/dictionary:/tmp/scrabble/dictionary
    ports:
      - '6081:8080'
    networks:
      - scrabble
  scrabble-redis:
    image: redis:4.0
    hostname: scrabble-redis
    container_name: scrabble-redis
    command: --port 6380
    ports:
      - '6380:6380'
    networks:
      - scrabble
  scrabble-postgres:
    image: postgres:13.8
    container_name: scrabble-postgres
    command: -p 11223
    environment:
      - POSTGRES_DB=scrabble
      - POSTGRES_USER=scrabble_api
      - POSTGRES_PASSWORD=scrabble_api
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-p", "11223", "-d", "scrabble" ]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - '11223:11223'
    volumes:
      - ./src/main/resources/database/database.sql:/docker-entrypoint-initdb.d/database.sql
      - ./src/main/resources/database/gamedata.sql:/docker-entrypoint-initdb.d/gamedata.sql
    networks:
      - scrabble
networks:
  scrabble:
    name: scrabble_network
    driver: bridge
